.idea/
venv/
django/questions/__pycache__/
django/mysite/__pycache__/
django/asmirnova_ask/__pycache__/
django/questions/management/__pycache__/
django/questions/management/commands/__pycache__/
django/questions/migrations/__pycache__/
