.col-centered {
    float: none;
    margin: 0 auto;
}

.top_question {
    margin-bottom: 30px;

}

.top_header {
    margin-right: 0px;
}

.question-link {
    font-size: 20px;
}

.hot-question-link {
    font-size: 25px;
}

.page-head {
    background-color: #E0E0F8;
    height: 70px;
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

.my-header {
    margin-bottom: 20px;
}

.tags {

}

.best-users {

}


.like {
    height: 28px;
    width: 28px;
}

.question {
    height: 165px;
}

.img-avatar {
    margin-left: 5px;
    margin-top: 10px;
}

.img-avatar-header {
    border:0;
    outline: none;

}