        <div class="col-md-4 p-100">
            <div class="row ml-1">
                <div class="my-header">
                    <h3 class="col-centered m-150">
                        Popular tags
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class=" col-md-3">
                    <a href="#" class="tags">MySQL</a>
                </div>
                <div class=" col-md-3">
                    <a href="#" class="tags">Python</a>
                </div>
                <div class=" col-md-3">
                    <a href="#" class="tags">Technopark</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="tags">django</a>
                </div>
                <div class=" col-md-3">
                    <a href="#" class="tags">mail.ru</a>
                </div>
            </div>

            <div class="row ml-1">
                <div class="my-header">
                    <h3 class="col-centered m-150 mt-5">
                        Best members
                    </h3>
                </div>
            </div>


            <div class="row">
                <div class=" col-md-6">
                    <a href="#" class="best-users">Pavel Golubev</a>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <a href="#" class="best-users">A.A. Heh</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="best-users">Xesus</a>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-6">
                    <a href="#" class="best-users">Pinchin</a>
                </div>
            </div>
        </div>