{% extends "./base_not_authorized.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="top_header col-md-8 col-centered border-bottom shadow-sm top_question">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="col">Hot Questions</h2>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'home_page' %}" class="hot-question-link">Top questions</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" role="navigation">
            <a href="{% url 'ask' %}" class="btn btn-outline-primary">
                Ask Question
            </a>
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-8">
            {% for question in question_list %}
            <div class=" question row border shadow-sm mb-4">
                <div class="col-2">
                    <div class="row">
                        <div class="col-12 pt-3 pl-4">
                            <img src="{% static 'anon.png' %}" class="img-avatar"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 pl-3">
                            <a class="like btn btn-outline-primary btn-sm" href="#">+</a>
                            <span style="white-space: pre-line"> {{ question.rating }} </span>
                            <a class="like btn btn-outline-primary btn-sm" href="#">-</a>
                        </div>
                    </div>
                </div>
                <div class="col-8 mt-2">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'one_question' %}" class="question-link"> {{ question.title }}</a>
                            <p style="white-space: pre-line"> {{ question.text}} </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <a href="{% url 'one_question' %}">answers({{ question.answers_amount}})</a>
                        </div>
                        <div class="col-6">
                            <span style="white-space: pre-line"> Tags: </span>
                            {% for tag in question.tags %}
                            <a href="{% url 'tag' %}" class="tags">{{tag}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include "./base_tags_popular.html" %}
    </div>
</div>
{% endblock %}
