{% extends "./base_not_authorized.html" %}
{% load static %}

{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="top_header col-md-8 col-centered border-bottom shadow-sm top_question">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="col">Log In</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4" role="navigation">
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" placeholder="alina@gmail.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>

            </form>
            <a href="/questions/ask" class="btn btn-outline-primary">Login</a>
            <a class="btn btn-link" href="#">Create a new account</a>
        </div>

        {% include "./base_tags_popular.html" %}
    </div>
</div>
{%endblock%}