{% extends "./base_authorized.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="top_header col-md-8 col-centered border-bottom shadow-sm top_question">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="col">Registration</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4" role="navigation">
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" placeholder="dr_paper">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="dr.paper@gmail.com">
                </div>
                <div class="form-group">
                    <label for="nickname">NickName</label>
                    <input type="text" class="form-control" id="nickname" placeholder="Dr. Papper">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="password_rep">Repeat password</label>
                    <input type="password" class="form-control" id="password_rep">
                </div>

                <label class="btn btn-outline-info btn-file">
                    Upload avatar <input type="file" style="display: none;">
                </label>

            </form>
            <a href="/questions/ask" class="btn btn-outline-primary">Register</a>
        </div>

        {% include "./base_tags_popular.html" %}

    </div>
</div>
{% endblock %}
